@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  .card {
    background: var(--color-gray-50);
    color: var(--color-gray-900);
  }
  .card-deeper {
    background: var(--color-gray-100);
    color: var(--color-gray-900);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    a:not(.force-keep-text-color) {
      color: #fff;
    }
    .card {
      background: var(--color-gray-800);
      color: var(--color-gray-400);
    }
    .card-deeper {
      background: var(--color-gray-700);
      color: var(--color-gray-200);
    }
    input, select {
      background: var(--color-gray-700);
      color: var(--color-gray-200);
      border: 1px solid var(--color-gray-600);
      padding: 5px;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  grid-template-columns: 1fr; /* Single column for main content */
  min-height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Reset default body margin */
}

header {
  /* position: sticky; */
  top:0;
  height: 60px;
}
header, footer {
  /* Add styling for header and footer here */
}

main {
  display: flex; /* Flexbox for main content area */
  flex-direction: row; /* Arrange sidebar and content horizontally */
  /* height: 100%; /* Ensure main content takes up the full height */
  min-height: 100vh;
}

aside {
  width: 250px; /* Set sidebar width */
  position: sticky;
  top: 40px; /* Stick to the top of the viewport */
  padding: 20px;
}

section {
  flex-grow: 1; /* Allow main content to take up remaining space */
  padding: 20px;
}